<style>
body {
	font-family: "Source Sans Pro", sans-serif;
	color: black;
	padding: 0;
	margin: 0;
	font-size: 16px;
	background: #1D1D1D;
}
.jp-Notebook{
background-color:silver;
padding:0;
float:center;
}
	
.jp-RenderedHTMLCommon, .jp-RenderedMarkdown, .jp-MarkdownOutput{
font-size: 20px;
padding:0;
margin:0;
}	

.inner {
  max-width: 50%;
}	

nav a {
  background: blue;
  color: white;}

a:focus { background: red;}	
a:hover { background: yellow; }  /* Liens survolés */
a.active { color: red;}  
  
	
h2,h3,h4 {
    color: red !important;
    font-size: 16px !important;
   font-weight: bold !important;
}

	
</style>
