<style>
body {
	font-family: "Source Sans Pro", sans-serif;
	color: black;
	padding: 0!important;
	margin: 0!important;
	font-size: 16px;
	background: #1D1D1D;
}
.jp-Notebook{
background-color:silver;
padding:0 !important;
margin:0 !important;
float:center;
}
	
.jp-RenderedHTMLCommon, .jp-RenderedMarkdown, .jp-MarkdownOutput{
font-size: 20px;
padding:0 !important;
margin:0 !important;
}	

.jp-Cell-inputWrapper, .jp-InputPrompt, .jp-InputArea-prompt{
flex: 0 0 0px;
}	
	
	
.inner {
max-width: 60% !important;
}	

/*
.jp-Cell-inputWrapper, .jp-InputPrompt, .jp-InputArea-prompt a {
color: red !important;	}  cacher lien des h_i 
*/

nav ul {
	display:flex;
	list-style:none;
	}
	
nav ul li {
	margin-right:10px;
	}
	
nav ul li a {
  color: white;}


nav a:hover { background: yellow; }  /* Liens survolés */
a.active { color: yellow;}  
  
h2, h3, h4 {
   color: black;
   font-weight: bold !important;
}


	
	
</style>
