<style>
	
	
body {
	font-family: "Source Sans Pro", sans-serif;
	color: blue !important;
	padding: 0 !important;
	margin: 0 !important;
	font-size: 16px !important;
	background: #1D1D1D !important;
}

	
.jp-Notebook{
font-size: 18px !important;
background-color:silver !important;
padding:0 !important;
margin:0 !important;
float:center;
}
	
.jp-RenderedHTMLCommon, .jp-RenderedMarkdown, .jp-MarkdownOutput{
background-color:transparent !important;	
font-size: 18px !important;
padding:0 !important;
margin:0 !important;
}	

.jp-Cell-inputWrapper, .jp-InputPrompt, .jp-InputArea-prompt, .input_prompt{
flex: 0 0 0px !important;
}	

.prompt, .input_prompt{
flex: 0 0 0 0pxpx !important;
padding:0 !important;
margin:0 !important;
background: red !important;	
min-width: 0ex !important;	
width:0px !important;
}	
	
.text_cell_render, .rendered, .rendered_html{
background-color:#f2f2f2 !important;		
font-size: 18px !important;
padding:0 !important;
margin:0 !important;
}	
	
.container {
max-width: 100% !important;
padding:0 !important;
margin:0 !important;	
background-color:transparent !important;		
}	

	
.inner {
max-width: 60% !important;	
}	

/*
.jp-Cell-inputWrapper, .jp-InputPrompt, .jp-InputArea-prompt a {
color: red !important;	}  cacher lien des h_i 
*/

nav ul {
	display:flex;
	list-style:none;
	margin:0;
	}
	
nav ul li {
	margin-right:10px;
	}
	
nav ul li a {
  color: white;}


nav a:hover { background: yellow; }  /* Liens survolés */
a.active { color: #FFE000;}  
  
h2, h3, h4 {
   color: black;
   font-weight: bold !important;
}

td {
font-size: 18px;
background-color: transparent !important;
	}
table {
background-color: transparent !important;
	}	
	
</style>
