---
---

@import "{{ site.theme }}";

nav a {
  background: #29abe2;
  color: green;
  border-radius: 5px; }

nav p a:active {
  text-decoration: underline;
  color: red;
  }

h2 {
    color: red;
    font-size: 16px;
}
