---
---

@import "{{ site.theme }}";

nav a {
  background: blue;
  text-color: green;}

nav a:active {
  text-decoration: underline;
  text-color: red;
  }

h2 {
    color: red;
    font-size: 16px;
}
